* {
    box-sizing: border-box;
}

h1,
p {
    font-family: Lato;
}

html,
body {
    margin: 0;
}

.clock_wrapper {
    width: 400px;
    height: 400px;
    /*transform: translate(-50%, -50%);*/
    top: 50%;
    left: 50%;
    position: absolute;
}

.clock {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    background: radial-gradient(
            circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(245, 246, 250, 1) 100%
    );
    position: relative;
    border: 8px solid #2c3e50;
    box-shadow: inset 0px 0px rgba(52, 73, 94, 0.75);
}

.hours {
    position: absolute;
    width: 25%;
    height: 8px;
    background-color: black;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    transform-origin: center left;
    transform: rotate(120deg) translateX(-10px);
    box-shadow: 0 2px 3px rgba(52, 73, 94, 0.5);
}

.minutes {
    position: absolute;
    width: 37.5%;
    height: 4px;
    background-color: black;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    transform-origin: center left;
    transform: rotate(30deg) translateX(-15px);
    box-shadow: 0 2px 3px rgba(52, 73, 94, 0.5);
}

.seconds {
    position: absolute;
    width: 42.5%;
    height: 2px;
    background-color: crimson;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    transform-origin: center left;
    transform: rotate(240deg) translateX(-15px);
    box-shadow: 0 2px 3px rgba(192, 57, 43, 0.5);
}
